#head {
    color: white;
    background-color: #343a40;
}
#aside {
    /* border: 1px solid black; */
    /* height: 200px; */
}

#aside {
    background-color: #f8f9fa;
}

#weatherInfo {
    margin: 10px 10px 0px 10px;
    border: 1px solid black;
    height: 175px;
}
#row {
    height: 400px;
}

#cityInfo {
    height: 200px;
}
#fiveDay {
    height: 200px;
}

.Forecast {
    height: 150px;
    width: 15%;
    color: white;
    /* border-radius: 25px; */
}

ul li {
    list-style-type: none;
    border: 1px solid grey;
    padding: 5px;
    margin: 5px 5px 5px 0px;
    background-color: white;
}

#currentCity,
#curWeathIcn {
    float: left;
    margin: 0px 20px 0px 0px;
}
#curWeathIcn {
    margin-right: 300px;
}

div {
    /* border: solid; */
}

ul {
    list-style-type: none;
    padding-left: 0;
}

li {
    font-size: 8pt;
}

.col {
    padding: 5px;
}

.card {
    width: 100%;
    background-color: #ececec;
}

.forecast-card {
    background-color: #8fcbff;
    /* width: 140px; */
    /* padding: 10px; */
}

.search-section {
    height: 100%;
}

.cityList {
    border: solid;
    border-width: thin;
    margin: 5px;
    padding-left: 2px;
    background-color: lightgrey;
}

.cityList:hover {
    background-color: #28a745;
    color: #fff;
}

.container {
    margin-top: 5px;
}
